In [5]:
import pandas as pd

In [ ]:
## lets create a simple Data frame

In [2]:
import numpy as np
columnA = pd.Series(np.ones(100))
columnB = pd.Series(np.ones(100))
columnB[:12] = 0
columnC = pd.Series(np.random.randint(15,35, size=100))
features = pd.concat([columnA,columnB,columnC], axis=1)

In [3]:
df = pd.DataFrame(features) 
df.columns=['columnA', 'columnB', 'columnC']

In [4]:
df.tail()

    columnA  columnB  columnC
95      1.0      1.0       23
96      1.0      1.0       25
97      1.0      1.0       31
98      1.0      1.0       16
99      1.0      1.0       34

In [ ]:
## Lets split the data between train and test set

In [7]:
train_set = df[:70]
test_set =df[70:]

In [8]:
test_set

    columnA  columnB  columnC
70      1.0      1.0       24
71      1.0      1.0       15
72      1.0      1.0       18
73      1.0      1.0       20
74      1.0      1.0       26
75      1.0      1.0       29
76      1.0      1.0       18
77      1.0      1.0       20
78      1.0      1.0       24
79      1.0      1.0       24
80      1.0      1.0       32
81      1.0      1.0       16
82      1.0      1.0       16
83      1.0      1.0       24
84      1.0      1.0       19
85      1.0      1.0       30
86      1.0      1.0       23
87      1.0      1.0       28
88      1.0      1.0       19
89      1.0      1.0       27
90      1.0      1.0       17
91      1.0      1.0       18
92      1.0      1.0       15
93      1.0      1.0       30
94      1.0      1.0       29
95      1.0      1.0       23
96      1.0      1.0       25
97      1.0      1.0       31
98      1.0      1.0       16
99      1.0      1.0       34

In [9]:
# we can see that the Marks are same for all the students, so the variance of this column will also be zeros. however lets verify the same

SyntaxError: invalid syntax (2586861279.py, line 1)

In [10]:
train_set['columnA'].var()

0.0

In [11]:
train_set['columnB'].var()

0.1440993788819876

In [12]:
train_set['columnC'].var()

32.918426501035206

In [ ]:
# we can see that marks has only one value and is constant

In [13]:
from sklearn.feature_selection import VarianceThreshold
import warnings
warnings.filterwarnings('ignore')

In [ ]:
## Create an instance of variance threshold method

In [14]:
constant_feature_selector = VarianceThreshold(threshold=0)
constant_feature_selector.fit(train_set)

VarianceThreshold(threshold=0)

In [15]:
constant_feature_selector.get_support()

array([False,  True,  True])

In [16]:
train_set.columns[constant_feature_selector.get_support()]

Index(['columnB', 'columnC'], dtype='object')

In [17]:
## We can see that our selector has selected the feature so lets transform our dataset now

In [18]:
train_set = constant_feature_selector.transform(train_set)
test_set= constant_feature_selector.transform(test_set)

In [19]:
train_set[:5,]

array([[ 0., 31.],
       [ 0., 33.],
       [ 0., 30.],
       [ 0., 22.],
       [ 0., 18.]])